.overplay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    z-index: 5;
}
.popup {
    margin: 350px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    max-width: 350px;
    width: 30%;
    position: relative;
    transition: all 3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 285px;
}


.popbutton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.buttonpopup{
    margin-inline: 10%;
    font-weight: bold;
    
}

.cancel-button-confirm {
    width: 80px;
    font-weight: bold;
}

.print-button-confirm {
    width: 80px;
    margin-left: 20px;
    font-weight: bolder;
}

.danger-icon {
    width: 70%;
}

.alert {
     min-width: 310px;
}


.alert-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #C5221F;
    font-weight: bold;
}

.alert-container > p {
    margin-bottom: 1%;
}



