.title-column {
    background-color: rgb(58, 101, 246);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.logo-line {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px 5px 18px 10px;
}

.logo-BK {
    width: 40%;
}

.web-name {
    color: white;
    font-size: 33px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
}

.item-line {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 15px 18px 15px 22px;
}

.item-title {
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
}

.item-logo {
    padding: 5px;
    width: 35px;
    filter: invert(0%) sepia(0%) saturate(1) hue-rotate(4deg) brightness(1000%) contrast(1);
}

.content-column {
    height: 100vh;
}